*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: "Cairo", sans-serif;
}
hr{
    border: 2px solid gainsboro;
}
input{
    width: calc(100%);
    height: 50px;
}
label{
    font-size: 1.3rem;
    font-weight: 800;
}
span{
    font-size: 1.1rem;
    color: gainsboro;
}
textarea{
    width: 100%;
    height: 100px;
}
/* section one */
.section .container .image{
    display: grid;
    place-items: center;
}
.section .container .image img{
    width: calc(100%);
    height: 100%;
    position: relative;
    object-fit: cover;
}

.section .container .image .address{
    position: absolute;
    background-color: rgb(0, 0, 0 , 0.3);
    width: calc(100%);
    height: 33vh;
    display: grid;
    place-items: center;
    object-fit: cover;
}

.section .container .image .address address{
    font-size: 1.5rem;
    font-weight: 700;
}

/* form */
.section-form .container {
    padding-inline: 16px;
    padding-block: 90px;
}
.section-form .container .input-1{
    padding-block: 15px;
}
.section-form .container .input-1 label{
    line-height: 2;
}
.section-form .container .input-1 textarea{
    width: 100%;
    height: 100px;
}
/* SECTION 3 */
.section-card .container img{
    width: calc(100%);
}

.section-card .container .image .img{
    width: calc(100%);
    height: 100vh;
    position: relative;
    object-fit: cover;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    object-position: 50% 50%;
    background-color: rgb(0, 0, 0 , 0.3);
}
.section-card .container .image{
    display: grid;
    place-items: center;
    overflow: hidden;
}

.section-card .container .image .card{
    position: absolute;
    width: 100%;
    height: 100%;
    padding-inline: 10px;
}

.section-card .container .image .card .card-bg{
    background-color: #fff;
    width: 100%;
    min-width: 200px;
    min-height: 150px;
    margin-block: 10px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    color: #000;
    padding-block: 30px;
}
.section-card .container .image .card .card-bg img{
    width: calc(30%);
    cursor: pointer;
 }


 /* footer */

 .footer .container{
    padding-block: 0px;
 }

@media (min-width: 768px){

    .section .container .image .address{height: 100vh;}

    .section-card .container .image .img{
        height: 50vh;
    }
    .section-card .container .image .card{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .section-card .container .image .card .card-bg{
        margin-left: 10px;
    }
    
}
@media (min-width: 812px){
    .section .container .image img{
        height: 70vh;
    }
    .section .container .image .address{
        top: 0;
    }
}

@media (min-width: 1024px){
    .section-form .container .form-contaner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-inline: 100px;
    }

    .section-form .container .input-1{
        width: calc(100% / 2 - 20px);
    }

    .section-form .container .input-textarea{
        margin: auto;
        width: calc(100%);
    }
}




@media (min-width: 1440px){

    /*  */
    .section .container .image img{
        min-width: 1200px;
        height: 70vh;
    }
    .section .container .image .address{
        height: 70vh;
    }


    /* form */

    .section-form .container .form-contaner{
        padding-inline:290px;
    }

    /* card */
    .section-card .container .image .card{
        width: 80%;
        
    }
    .section-card .container .image .card .card-bg{
        padding-block: 50px;
        margin-left: 20px;
    }
}

@media (min-width: 2560px){
    /*  */
    label{
        font-size: 2.3rem;
        
    }
    input{
        height: 90px;
    }
    textarea{
        height: 150px;
    }
    span{
        font-size: 1.9rem;
    }
    .section .container .image .address address{
        font-size: 3.5rem;
    }

    /* form */

    .section-form .container .form-contaner{
        padding-inline: 390px;
    }

    /* card */
    .section-card .container .image .card .card-bg{
        padding-block: 80px;
        margin-left: 50px;
    }
    .section-card .container h1{
        font-size: 2.5rem;
    }

    .section-card .container address{
        font-size: 2rem;
    }
}