/* FOOTER */
.footer .container{
  padding-top: 170px;
  padding-inline: 20px;
  text-align: center;
}
.footer .container .address-dest p{
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
}
.footer .container nav{
  padding-top: 50px;
}
.footer .container nav h3{
  font-size: 2rem;
  white-space:nowrap;
}

.footer .container .items-list{
  color: var(--background-button);
  font-size: 1.3rem;
  font-weight: 600;
}
.footer .container .title .gmail,
.footer .container .title .phone,
.footer .container .title .code-title{
  font-size: 1.6rem;
  font-weight: 700;
  white-space: nowrap;
  line-height: 2;
}
.footer .social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
}
.footer .social-media .icon{
      border: 3.6px solid #fff;
      width: 50px;
      height: 50px;
      display: grid;
      place-items: center;
      margin-left: 20px;
}
.footer .social-media {
  font-size: 2rem;
}

.footer .end-text{
  text-align: center;
  padding-inline: 20px;
  padding-block: 30px;
}

.footer .end-text span{
  font-size: 1.2rem;
  font-weight: 600;
}

@media (min-width: 992px){

  /* FOOTER */
  .footer .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }

  .footer .container nav h3{
      font-size: 1.4rem;
  }

  .footer .container .items-list{
      font-size: 1rem;
  }

  .footer .container .title .gmail,
  .footer .container .title .phone,
  .footer .container .title .code-title{
      font-size: 1.2rem;
  }
}   




@media (min-width: 1440px){
  /* FOOTER */
  .footer .container {
      padding-inline: 50px;
  }
  .footer .container nav h3{
      font-size: 2rem;
  }
  
  .footer .container .items-list{
      font-size: 1.3rem;
  }
  .footer .container .title .gmail,
  .footer .container .title .phone,
  .footer .container .title .code-title{
      font-size: 1.6rem;
  }
}
@media (min-width: 2560px){
  /* FOOTER */
  .footer .container nav h3{
      font-size: 2.5rem;
  }
  
  .footer .container .items-list{
      font-size: 1.8rem;
  }
  .footer .container .title .gmail,
  .footer .container .title .phone,
  .footer .container .title .code-title{
      font-size: 2rem;
  }
}